.body{
  /* padding: 0px;
  margin: 0px; */
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) !important;
}
.header
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}
.header1
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  height: 10vh;
  width: 100vw;
  margin: 1rem;
}
.colorbtn
{
  color: rgb(33, 8, 57);
  cursor: pointer;
}