.form-label {
  color: white !important;
}
.signup-form
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
  max-width: 330px;
  padding: 20px;
  margin: auto;
}
.signup
{
  display: flex;
}
label
{
  color: white !important;
}
